@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.equalizer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 82%;
  height: 56px;
  opacity: 50%;
  position: absolute;
  bottom: 95%;
  left: 64%;
  transform: translateX(-60%);
  /* overflow-y: hidden; */
}

.bar {
  width: 6px;
  background-color: #ffffff;
  animation: bounce 1s infinite ease-in-out;
  transform-origin: bottom;
}

@keyframes bounce {
  0%,
  100% {
    transform: scaleY(0.2);
  }
  25% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(0.3);
  }
  75% {
    transform: scaleY(0.4);
  }
}


@media (max-width: 768px) {
  .glass-effect {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(24px);
    border: none;
  }
}